/* Home.css */
.home-container {
    text-align: center;
    background-color: #021b43;
    color: white;
    padding: 40px 20px;
  }
  
  .goal-text {
    font-size: 20px;
    max-width: 900px;
    margin: 0 auto 40px;
    line-height: 1.5;
  }
  #gobacktohome{
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    background-color: bisque;
    color: black;
    cursor: pointer;
  }
  
  .content {
    width: fit-content;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 2rem;
  }
  
  .card {
    background-color: #112d5a;
    border-radius: 12px;
    overflow: hidden;
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
  }

  .card:hover{
    transform: scale(1.05);
  }
  
  .image-section {
    height: 250px;
    background-size: cover;
    background-position: center;
  }

  .cardone {
    background-image: url('images/product.jpg');
  }
  .cardtwo{
        background-image: url('images/cardtwo.png');
      }
  
  .cardthree {
    background-image: url('images/cardthree.jpg');
  }
  
  .cardfour {
    background-image: url('images/cardfour.jpg');
  }
  
  .text-section {
    padding: 20px;
    text-align: left;
  }
  
  .text-section h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .text-section p {
    font-size: 18px;
    margin: 0;
  }

  @media (max-width: 480px) {
    .goal-text {
        font-size: 16px;
        line-height: 1.4;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%; 
        height: auto;
    }

    .image-section {
        height: 180px; 
    }

    .text-section {
        padding: 12px;
    }

    .text-section h3 {
        font-size: 18px;
    }

    .text-section p {
        font-size: 15px;
    }
}
 