.box {
    display: flex ;
    flex-direction: column;
    width: 300px;
    background-color: aliceblue;
    padding: 20px;
    border: 4px solid black;
    text-align: center;
    box-shadow: 2px;
    height: 100%;
    }
    .box:hover{
        transform: scale(1.05);
      }
    

    .contentent {
       width: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        row-gap: 2rem;
        column-gap: 2.2rem;
        margin: 2rem auto ;

        
      }
      .image {
        width: 100%;  
        height: 100%; 
        object-fit: cover; 
      }
      .box figure{
        
        width: 100%;
        height: 100%;
      }
     
    .offer {
    font-size: 19px;
    font-weight: bold;
    color: black;
  }
  
  
  .text {
    font-size: 14px;
    color: black;
  }
  
  .link {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  @media(max-width:480px) {

    .contentent{
      grid-template-columns: 1fr;
  
    }
    .box{
      height: 420px;
    }
    
  }
  
  